div.container.main-body
  each data, term in terms
    header.term-title
      div.inner
        h1= term
    dl
      each entry in data
        dt
          h4
            #{entry.defn} 
            unless entry.lemma == term
              em (#{entry.lemma})
        each defn in entry.defns
          dd= defn
  each value, key in locals
    p #{key} ->#{value}
